.arena {
    background: url('/images/background.gif') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}