.fighter-preview {
    box-sizing: border-box;
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fighter-preview___healthbar {
    border-radius: 15px;
    border: 3px solid black;
    margin: 0px 50px;
    height: 20px;
    overflow: hidden;
}

.fighter-preview___healthbar-progress {
    background-color: #ee6;
    height: 30px;
    content: "";
}

.fighter-preview___name {
    text-align: center;
    margin: 6px 0px;
    font-size: 18px;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    font-size: 23px;
    font-family: 'Arial Black';
    font-weight: 700;
}

.fighter-preview___info {
    width: 100%;
}

.fighter-preview img {
    height: 480px;
}

.fighter-preview___right-fighter {
    transform: scaleX(-1);
}